html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
h1,h2,h3,ul {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
 
body {
    font-family: 'Roboto', sans-serif;
    @include fonts(400, 14px, 1.71, 0.03em);
    color: $primary-text-color;
    margin: 0;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

a:hover,
a:focus {
       color: $accent-color;
}  

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto; 
    background-color: chocolate; 
    
    @media screen and (min-width:480px) {
        width: 480px;
    }
    
    @media screen and (min-width:768px) {
        width: 768px;
    }
    
    @media screen and (min-width:1200px) {
        width: 1200px;
        padding-top: 94px;
    }

}
    .current {
        color: $accent-color;
}

.advantages-icon::before {
    content: '';
    display: block;
    height: 120px;
    background: $background-icon;
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}