 
$primary-text-color: #757575;
$secondary-text-color: #212121;
$main-title-text-color: #ffffff;
// $title-text-color: #000000;
$accent-color: #2196F3;
$background-color: #2F303A;
$backdrop-color: rgba(0, 0, 0, 0.2);
$background-color-opacity: rgba(47, 48, 58, 0.8);
$backgroud-accent-color-opacity: rgba(33, 150, 243, 0.9);
$secondary-background-color: #F5F4FA;
$filter-button-color: #F5F4FA;
$background-icon: #F5F4FA;
$border-color: #AFB1B8;
$footer-link-color: rgba(255, 255, 255, 0.6);
// $footer-social-icon: rgba(255, 255, 255, 0.1);
$modal-borders-color: rgba(33, 33, 33, 0.2);
$modal-textarea-color: rgba(117, 117, 117, 0.5);
$footer-input-border-color: rgba(255, 255, 255, 0.3);
 

